html, body {
  height: 100%;
  margin: 0;
}

main {
  min-height: 100%;
  background: #eee;
}

.container {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 26px;
  margin: 15px 0;
  padding-left: 10px;
}

.columns {
  display: flex;
}

preview, textbox-list {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

preview, textbox-item, textbox-list {
  display: block;
}